# Members of group 35
Tage Munthe Berg <tagemb@stud.ntnu.no>
Torstein Kristiansen Olsen <torsteko@stud.ntnu.no> <torstein@knett.no>
Casper Lunde Amtrup <casperla@stud.ntnu.no>
Karan Singh Sandhu <karanss@stud.ntnu.no>
unknown <> <itouhc@gmail.com>
